{{- define "main" }}
{{- if (and .Site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

<div class="content">
  {{ partial "page_header.html" . }}
  {{- partial "section_content.html" . }}

{{- end }}
{{- $pages := .RegularPages }}

{{- $paginator := .Paginate $pages }}
  {{- if and .IsHome .Site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
  {{- partial "home_info.html" . }}
  {{- end }}
  {{ if .Sections }}
  <h2>Sub-Sections</h2>
  {{- end }}
  <div class="sections">
{{- $term := .Data.Term }}
{{- range $index, $page := .Sections }}

<article class="post-entry section">
  {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
    {{- if  .Title }} {{- .Title }}
    {{- else }} {{.File.TranslationBaseName}} {{- end }}
    {{- if .Draft }} ◒{{- end }}
  </a>
  </header>
  {{- if (ne (.Param "hideSummary") true) }}
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  {{- end }}
</article>
{{- end }}
  </div>
  <h2> Section Pages</h2>
  <div class="posts">
{{- $term := .Data.Term }}

{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or .Site.Params.disableSpecial1stPost .Site.Params.homeInfoParams }}

{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

{{- with .IsSection -}}
{{- $class = printf "%s %s" $class "section" }}
{{- end }}

<article class="{{ $class }}">

  {{- $isHidden := (.Site.Params.cover.hidden | default .Site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">

  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
    <h2>
      {{- if  .Title }} {{- .Title }}
      {{- else }} {{.File.TranslationBaseName}} {{- end }}
    {{- if .Draft }}   ◒{{- end }}
    </h2>
  </a>
  </header>
  {{- if (ne (.Param "hideSummary") true) }}
  <div>
 <p>{{ .Description  }}</p>

  </div>
  <section class="entry-content">

    {{- if .Params.tags }}
    <ul class="list-tags">
      {{- range .Params.tags }}
      <li><a href="{{ $.Site.BaseURL }}/tags/{{ . }}">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </section>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
</article>
{{- end }}
  </div>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
</footer>
{{- end }}
</div>

{{- end }}{{/* end profileMode */}}

