
<head>
    {{- partial "head.html" . }}
</head>
  {{- $sectionDelimiter := "<!-- section break -->" -}}
  {{- $rawContentSections := split .Content $sectionDelimiter -}}
  {{- if gt (len $rawContentSections) 1 -}}

  {{- range  $i, $el := $rawContentSections }}
    {{ $section := add 1 $i  }}
    <section id="section-{{ $section }}"> {{ $el | markdownify }}</section>
  {{ end }}
  {{- else -}}
    <div id="content-not-split-into-sections">
      {{ .Content }}
    </div>
  {{- end -}}
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}

