{{- define "main" }}
<div class="content">
<article class="post-single">
  {{- partial "post_header.html" . }}
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}

  {{- if .Content }}

  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}
  {{ end }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}
    {{ end }}
    <div>
      {{- if isset .Params "concat" }}
      <p>
      <details>
        <summary>{{ .CurrentSection }}</summary>
        {{- partial "concat.html" . -}}
      </details>
      </p>
      {{- end }}
    </div>
  </div>
  {{- partial "post_footer.html" . }}
  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>
</div>
{{- end }}{{/* end main */}}
