<style>
.blog-posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}
  .blog-post-item {
    display: flex;
    justify-content: space-between;
  }

</style>
   <h2>
   Here are my blog posts
   </h2>
  <ul class="blog-posts-container">

  {{ $format := "Jan 2 2006" }}
  {{range  (where .Site.RegularPages.ByDate "Section" "blog").Reverse }}
  <li class="blog-post-item">

    <a href="{{ .Permalink }}"><p>{{ .Title }}</p> </a>
    <p>
    {{ .Date.Format $format }}

    </p>

  </li>  
  {{ end }}
  </ul>
