{{- partial "theme-switch.html" . -}}
<header class="site-header">
  {{- partial "logo.html" . -}}
 {{ partial "search.html" . }}
  <input type="checkbox" class="nav-toggle" id="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
    <nav class="nav">
        {{- $currentPage := . }}
        <ul id="menu">
            {{- range .Site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
