<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div>
      {{- if .imageUrl -}}
      <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
          height="{{ .imageHeight }}" width="{{ .imageWidth | default 150 }}" />
      {{- end }}
      <span>{{ .subtitle | markdownify }}</span>

    </div>
        <div>
        {{ $.Site.Data.about.title | markdownify }}
        <br>
        {{ $.Site.Data.about.description | markdownify }}
        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
        </div>
        <div>
        </div>
    </div>
  {{- end }}
 {{ partial "blog_posts" . }}
</div>
</div>
