<div class="profile">
  {{- partial "home_info.html" . }}
    {{- with .Site.Params.profileMode }}
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h2>{{ .title | default $.Site.Title | markdownify }}</h2>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
  {{- end }}
</div>
