<style>
.contact-container {
}
.contact {
display: flex;
justify-content: space-between;
font-size: .8em;
}


</style>
<div class="contact-container">
  <div class="contact">
    {{ with .Page.Params.contact }}
    <div><span class="bold">repos: </span><a href="https://{{ .repos }}">{{ .repos }}</a> </div>
    <div><span class="bold">email: </span><a href="mailto:{{ .email }}">{{ .email }}</a> </div>
    <div><span class="bold">site: </span><a href="https://{{ .site }}">{{ .site }}</a> </div>
    <div><span class="bold">phone: </span>{{ .phone }}</div>
    {{ end }}
  </div>
</div>
