
.nav {
display: none;
}


.site-header {
  position: sticky;
  top: 0;
  background-color: var(--entry-active);
  border-bottom: solid 1px var(--tertiary);
  z-index: 1000;
  top: 0;
  position: sticky;
  min-height: 24px;
  display: flex;
  justify-content: space-between;
}

.nav-toggle {
display: none;
}

.nav-toggle-label{
align-items: center;
border: 1px solid red;
display: flex;
height: 100%;
margin-right: 8px;
position: absolute;
right: 0;
}
.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before {
display: block;
background: black;
height: 2px;
width: 1em;
border-radius: 2px;
position: relative;
}

.nav-toggle-label span::after,
.nav-toggle-label span::before {
  content: '';
  position: absolute;
}

.nav-toggle-label span::after {
  top: 5px;
}
.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle:checked ~ .nav {
  display: block;


}
.nav {
  border: 1px solid blue;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* line-height: var(--header-height); */
display: none;
  width: fit-content;
}

.nav a {
  display: block;
}

#menu {
  display: inline-flex;
}

.logo {
  flex-wrap: inherit;
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
  width: fit-content;

}

.logo a {
  font-weight: 700;
}

.logo a img {
  box-sizing: border-box;
  pointer-events: none;
}

#theme-toggle svg {
  height: 18px;
}

button#theme-toggle {
  font-size: 26px;
}

body.dark #moon {
  vertical-align: middle;
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
  
}


#menu a {
  font-size: 16px;
  margin-right: 14px;
}

#menu .active {
  font-weight: 500;
  /* border-bottom: 2px solid currentColor; */
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
  display: inline-flex;
  margin: auto 4px;
}

.lang-switch {
  display: flex;
  flex-wrap: inherit;
}

.lang-switch a {
  margin: auto 3px;
  font-size: 16px;
  font-weight: 500;
}

.logo-switches {
  flex-wrap: inherit;
}
