/* Utility Classes */
.red {
  color: red;
}
.included {
  font-size: 0.92rem;
}

/* Content */
.main {
  width: 80%;
  max-width: 950px;
  margin: 0 auto;
  flex: 1;
}

.content {
  scrollbar-width: thin;
  overflow-x: hidden;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}
.sections {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 2);
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);
}

.connexions {
  display: flex;
  flex-wrap: wrap;
gap: 4px;
padding: 4px;
}
.connexions > * {
width: 30%;
border: solid 1px var(--tertiary);
}



.posts {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}
.sections .post-entry {
  /* padding: calc(var(--gap) / 2); */
  /* border-radius: calc(var(--radius) / 2); */
}

.main.page {
  max-width: var(--main-width);
}

.site-header {
  position: sticky;
  border-bottom: solid 1px var(--tertiary);
}

.page-header {
  padding-bottom: 4px;
  border-bottom: solid 1px var(--tertiary);
}

.pagination {
  display: flex;
}

.pagination a {
  color: var(--theme);
  font-size: 13px;
  line-height: 36px;
  background: var(--primary);
  border-radius: calc(36px / 2);
  padding: 0 16px;
}

.pagination .next {
  margin-inline-start: auto;
}

.social-icons {
  padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
.social-icons a svg {
  height: 26px;
  width: 26px;
}

code {
  direction: ltr;
}

div.highlight,
pre {
  position: relative;
}
.list-featured-image {
width: 200px;
}
.list-tags {
  display: none;
  flex-direction: column;
}

.list-tags li {
  display: inline-block;
  margin-inline-end: 3px;
}

.list-tags a {
  border-radius: calc(var(--gap) / 3);
  background: var(--code-bg);
  border: 1px solid var(--border);
  display: block;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  color: var(--secondary);
  font-size: 12px;
  font-weight: bold;
  background: var(--tertiary);
}

.copy-code {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(78, 78, 78, 0.8);
  border-radius: var(--radius);
  padding: 0 5px;
  font-size: 14px;
  user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}

.mermaid {
  background-color: rgb(224, 225, 224);
}

.svg-container {
  background: white;
  max-height: 100vh;
  overflow: hidden;
}

.buttons,
.main  {
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
}

.main .profile {
    /* align-items: center; */
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 8));
  /* min-height: 70vh; */
}

.profile .profile_inner h1 {
    padding: 12px 0;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
    pointer-events: none;
    aspect-ratio: 1 / 1;
    width: 200px;
    height: 200px;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}
