.post-single {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.post-header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--gap) * 2);
  border-bottom: solid 1px var(--tertiary);
}
.post-header > * {
  flex: 50%;
}

.post-description {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--secondary);
}

.post-meta {
  color: var(--secondary);
  /* font-size: 14px; */
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.breadcrumbs {
  color: var(--secondary);
  /* font-size: 14px; */
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4px;
  /* border-bottom: solid 1px var(--tertiary); */
}
.post-meta .i18n_list li {
  display: inline-flex;
  list-style: none;
  margin: auto 3px;
  box-shadow: 0 1px 0 var(--secondary);
}

.breadcrumbs a {
  font-size: 16px;
}

.post-content {
  color: var(--content);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 4;
}

.post-content h1 {
  /* border-top: solid 1px var(--tertiary); */
}

.post-content h2,
h3,
h4,
h5,
h6 {
  /* margin-bottom: 1em; */
  /* margin-top: 1em; */
}

.post-content a {
  color: var(--link);
  text-decoration: none;
}

.post-content p {
  max-width: 80ch;
  margin-bottom: 1.5rem;
}

.post-content li {
  max-width: 75ch;
}

.post-content a,
.toc a:hover {
}

.post-content a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
  text-decoration: none;
  background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0
}
.post-content figure {
  margin: 2rem 0;
  border: 1px solid var(--entry);
  padding: 1rem;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content ul {
  margin-bottom: calc(var(--content-gap) * 2);
}

.post-content ol,
.post-content ul {
  padding-inline-start: 20px;
}

.post-content li {
}

.post-content dl {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

.post-content dt {
  font-weight: 500;
  color: var(--primary);
}

dt::after {
  content: ": ";
}

.post-content dd ~ dd,
.post-content dt ~ dt {
  margin-top: 10px;
}

.post-content table {
  margin-bottom: 32px;
}

.post-content table th,
.post-content
  table:not(.highlighttable, .highlight table, .gist .highlight)
  td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
  text-align: left;
}

.post-content table th {
  font-size: 14px;
  text-align: start;
}

.post-content table:not(.highlighttable) td code:only-child {
  margin: auto 0;
}

.post-content .highlight table {
  border-radius: var(--radius);
}

.post-content .highlight:not(table),
.post-content pre {
  margin: 10px auto;
  background: var(--hljs-bg) !important;
  border-radius: var(--radius);
}

.post-content li > .highlight {
  margin-inline-end: 0;
}

.post-content ul pre {
  margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
  margin: 0;
}

.post-content .highlighttable {
  table-layout: fixed;
}

.post-content .highlighttable td:first-child {
  width: 40px;
}

.post-content .highlighttable td .linenodiv {
  padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
  margin-bottom: 0;
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
  display: none;
}

.post-content .highlight span {
  background: 0 0 !important;
}

.post-content code {
  margin: auto 4px;
  padding: 4px 6px;
  font-size: 0.78em;
  line-height: 1.5;
  background: var(--code-bg);
  border-radius: 2px;
}

.post-content pre code {
  display: block;
  margin: auto 0;
  padding: 10px;
  color: rgb(213, 213, 214);
  background: 0 0;
  border-radius: 0;
  overflow-x: auto;
  word-break: break-all;
}

.post-content blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--primary);
}

.post-content hr {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1px;
  /* background: var(--tertiary); */
  /* background: black; */
  background: var(--content);
  border-top: 0;
  border-bottom: 0;
}

/* .post-content iframe { */
/*   max-width: 100%; */
/* } */
.post-content img {
  border-radius: 2px;
  border: solid var(--tertiary) 1px;
  padding: 1em;
}

.post-content img[src*="#center"] {
  margin: 1rem auto;
}

.post-content figure.align-center {
  text-align: center;
}

.post-content figure > figcaption {
  color: var(--primary);
  /* font-size: 16px; */
  font-weight: bold;
  margin: 8px 0 16px;
}

.post-content figure > figcaption > p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: normal;
}
.post-content details {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  /* background-color: var(--entry); */
}

.post-content details summary {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 0.5);
  margin-bottom: 2px;
}

.toc {
  position: fixed;
  display: inline-block;
  top: 60px;
  right: 0px;
  /* margin-left: 80%; */
  /* background-color: var(--code-bg); */
  background-color: rgba(var(--code-bg-rgb), 0.7);
  z-index: 10000;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.active {
  font-weight: 600;
}

.toc ul {
  list-style-type: circle;
  list-style-type: none;
}

.toc .inner {
  margin: 0 0 0 20px;
  padding: 0px 15px 15px 20px;
}

.toc li ul {
  margin-inline-start: calc(var(--gap) * 0.5);
  list-style-type: none;
}

.post-footer {
  margin-top: 64px;
  flex: 1;
}

.post-tags li {
  display: inline-block;
  border-radius: var(--radius);
  border: solid 1px var(--tertiary);
}

.post-tags a {
  display: block;
  /* padding-inline-start: 14px; */
  /* padding-inline-end: 14px; */
  color: var(--secondary);
  font-size: 14px;

  padding-left: 4px;
  padding-right: 4px;
}

.post-tags a:hover {
  background: var(--code-bg);
  display: block;
  color: var(--secondary);
  background: var(--code-bg);
}

.post-tags a:hover,
.paginav a:hover {
  background: var(--border);
}

.share-buttons {
  margin-top: calc(var(--gap));
  padding-inline-start: var(--radius);
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.share-buttons a {
  margin-top: 8px;
}

.share-buttons a:not(:last-of-type) {
  margin-inline-end: 12px;
}

.share-buttons a svg {
  height: 24px;
  width: 24px;
  fill: currentColor;
  transition: transform 0.1s;
}

.share-buttons svg:hover {
  transform: scale(0.86);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-flex;
  color: var(--secondary);
  margin-inline-start: 8px;
  font-weight: 500;
  user-select: none;
  display: inline-flex;
  color: var(--secondary);
  margin-inline-start: 8px;
  font-weight: 500;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
  border: 2px solid var(--hljs-bg);
  background: rgb(113, 113, 117);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 165);
}

.gist table::-webkit-scrollbar-thumb {
  border: 2px solid rgb(255, 255, 255);
  background: rgb(173, 173, 173);
}

.gist table::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 112, 112);
}

.post-content table::-webkit-scrollbar-thumb {
  border-width: 2px;
}

.paginav {
  margin: 10px 0;
  display: flex;
  line-height: 30px;
  border-radius: var(--radius);
}

.paginav a {
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  border-radius: var(--radius);
}

.paginav .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}

.paginav .prev,
.paginav .next {
  width: 50%;
}

.paginav span:hover:not(.title) {
  box-shadow: 0 1px 0;
}

.paginav .next {
  margin-inline-start: auto;
  text-align: right;
}

[dir="rtl"] .paginav .next {
  text-align: left;
}

.block {
  display: flex;
  justify-content: space-between;
}

.c-10 {
  margin-left: 10%;
  margin-right: 10%;
}

.c-20 {
  margin-left: 20%;
  margin-right: 20%;
}

.c-30 {
  margin-left: 30%;
  margin-right: 30%;
}

.c-40 {
  margin-left: 40%;
  margin-right: 40%;
}
