#fastSearch { 
  /* visibility: hidden; */
  /* position: absolute; */
  /* right: 400px; */
  /* top: 0px; */
  display: inline-block;
  width: 300px;
}
#fastSearch svg {
  display: inline-block;
}

#fastSearch input { 
  padding: 4px 10px;
  width: 80%;
  /* height: 31px; */
  /* font-size: 1.6em; */
  color: var(--primary);
  /* font-weight: bold; */
  background-color: var(--tertiary);
  border: 1px solid var(--hljs-bg);
  /* border-radius: 3px 3px 0px 0px; */
  outline: none;
  text-align: left;
  /* display: block; */
}

#searchResults { visibility: inherit; display: inline-block; width: 320px; }

#searchResults li { 
  list-style: none; 
  margin-left: 0em;
  background-color: var(--tertiary);
  border-bottom: 1px dotted var(--secondary);
}
#searchResults li .title { font-size: 1.1em; margin-bottom: 10px; display: inline-block;}

#searchResults a { text-decoration: none !important; padding: 2px; display: inline-block; }
#searchResults li:hover, li:focus { outline: 0; background-color: var(--middle);}

