#fastSearch {
  /* display: inline-flex; */
  align-items: center;
  background-color: var(--tertiary);
  border: 1px solid var(--middle);
  display: flex;
  margin-bottom: 2px;
  margin-right: auto;
  margin-top: 2px;
  position:relative;
  width: fit-content;
}
#fastSearch svg {
  display: inline-block;
  top: 0;
  right:0;
}

#fastSearch input {
  color: var(--primary);
  text-align: left;
  display: block;
  width: auto;
  padding-left:8px;
}

.search-container {
  display: none;
  background-color: var(--dd-bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  max-height: 50vh;
  max-width: 50vw;
  visibility: inherit;
  z-index: 1000;
  overflow-y: scroll;
}
.display-container:empty {
  display: none;
}

#searchResults {

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  padding: calc(var(--gap) * 2);
  width: 50vw;
}
#searchResults:empty {
  display: none;
}


#searchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: var(--tertiary);
  padding: calc(var(--gap) * 2);
}
#searchResults li .title {
  display: inline-block;
}

#searchResults a {
  text-decoration: none !important;
  display: inline-block;
}
#searchResults li:hover,
li:focus {
  outline: 0;
  background-color: var(--middle);
}
