#fastSearch {
  width: fit-content;
  display: inline-block;
  display: inline-flex;
}
#fastSearch svg {
  display: inline-block;
}

#fastSearch input {
  color: var(--primary);
  background-color: var(--tertiary);
  border: 1px solid var(--middle);
  text-align: left;
  /* display: block; */
  height: 20px;
  /* width: 80%; */
  width: auto;
}

#searchResults {
  position: absolute;
  visibility: inherit;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  background-color: var(--dd-bg);

  gap: 2px;
  left: 10%;
  top: 100%;
  width: 80%;
  z-index: 1000;
}

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: var(--tertiary);
  width: 33%;
  /* border-bottom: 1px dotted var(--secondary); */
}
#searchResults li .title {
  /* margin-bottom: 10px; */
  display: inline-block;
}

#searchResults a {
  text-decoration: none !important;
  /* padding: 2px; */
  display: inline-block;
}
#searchResults li:hover,
li:focus {
  outline: 0;
  background-color: var(--middle);
}
