.terms-tags {
display: flex;
/* flex-direction: column; */
/* flex-wrap: wrap; */
flex-flow: column wrap;

list-style-type: none;
height: 90vh;
justify-content: flex-start;
align-items:stretch;
width: 90%;
}
.terms-tags li {
}

.terms-tags a {
  display: block;
  margin: .2rem;
    padding: .2rem .4rem;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 1.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.terms-tags a:hover {
    background: #bbbbbb;
    transform: scale(0.96);
    transition: transform 0.1s;
}
