.terms-tags li {
    display: inline-block;
}

.terms-tags a {
  display: block;
  margin: .2rem;
    padding: .2rem .4rem;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 1.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.terms-tags a:hover {
    background: #bbbbbb;
    transform: scale(0.96);
    transition: transform 0.1s;
}
